<div class="flex-contain" fxLayout="row" fxLayout.xs="column">
    <div fxFlex.lg="20" fxLayout="column"></div>
    <div class="left" fxLayout="column" fxFlex="55" fxLayoutGap.xs="10%" fxLayoutGap="4%" [ngStyle.xs]="{'margin-top':'8%'}" >
        <div fxLayout="row">
            <div fxFlex.xs="5"></div>
            <div fxLayout="column" fxFlex="70" fxFlex.xs="90" fxLayoutGap="8%">
                <div fxLayout="row" fxFlex fxLayoutGap="5%">
                    <div fxLayout="column" fxFlex="25" fxFlex.xs="35">
                    <img class="img-fluid cover" src="../../assets/images/book.svg">
                    </div>
                    <div fxLayout="column" fxLayoutGap="1%" fxFlex>
                        <div class="title">Looking for Alaska</div>
                        <div class="author f-95">By John Green</div>
                        <div class="rating f-95">4 <span><mat-icon class="list-icons yellow">star_rate</mat-icon></span></div>
                        <div>Owner's view</div>
                        <div class="f-95">Looking for Alaska is John Green's first novel, published in March 2005
                            by Dutton Juvenile. Based on his time at Indian Springs School, Green wrote
                            the novel as a result of his desire to create meaningful young adult fiction.
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxFlex="100" fxLayoutGap="5%">
                    <div fxFlex="25" fxFlex.xs="35">
                        <button class="request" mat-flat-button color="primary">Request</button>
                    </div>
                    <div fxFlex fxLayoutAlign="start center">
                        Check other books from this owner
                    </div>
                </div>
                
            </div>
            <div fxLayout="column" fxFlex></div>
        </div>
        <div fxLayout="row" fxHide fxShow.xs>
            <div fxFlex.xs="5"></div>
            <div fxLayout="column" fxFlex="100" fxLayoutGap="7%">
                <div>You may also like</div>
                <div fxLayout="column" fxFlex="100" fxLayoutGap="5%">
                    <div fxLayout="row" fxLayoutGap="8%">
                        <div fxLayout="column" fxFlex="30" fxLayoutGap="2%">
                            <div fxLayout="row" fxLayoutAlign="center start">
                               <div fxLayout="column" fxFlex="100">
                                    <img class="img fluid cover" src="../../assets/images/book.svg">
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div fxLayout="column" fxLayoutGap.xs="2%" >
                                    <div fxLayout="row">
                                        <span class="f-90">Looking for Alaska</span>
                                    </div>
                                    <div fxLayout="row">
                                        <span class="f-80">By Stephan Knapp</span>
                                    </div>
                                    <div class="rating f-80">4 <span><mat-icon class="list-icons yellow">star</mat-icon></span></div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="30" fxLayoutGap="2%">
                            <div fxLayout="row" fxLayoutAlign="center start">
                               <div fxLayout="column" fxFlex="100">
                                    <img class="img fluid cover" src="../../assets/images/book.svg">
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div fxLayout="column" fxLayoutGap.xs="2%">
                                    <div class="f-90">Secret Teachings of Vedas</div>
                                    <div class="f-80">By Stephan Knapp</div>
                                    <div class="rating f-80">4 <span><mat-icon class="list-icons yellow">star_rate</mat-icon></span></div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxFlex="30" fxLayoutGap="2%">
                            <div fxLayout="row" fxLayoutAlign="center start">
                               <div fxLayout="column" fxFlex="100">
                                    <img class="img fluid cover" src="../../assets/images/book.svg">
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="center start">
                                <div fxLayout="column" fxLayoutGap.xs="2%">
                                    <div class="f-90">Secret Teachings of Vedas</div>
                                    <div class="f-80">By Stephan Knapp</div>
                                    <div class="rating f-80">4 <span><mat-icon class="list-icons yellow">star_rate</mat-icon></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex.xs="5"></div>
        </div>
        <div fxLayout="row">
            <div fxFlex.xs="5"></div>
            <div fxLayout="column" fxFlex fxLayoutGap="1%" fxLayoutGap.xs="2%">
                <hr color="black">
                <div fxLayout="row" style="justify-content: space-between;">
                    <div>Comments</div>
                    <div>Add comment</div>
                </div>
            </div>
            <div fxFlex.xs="5"></div>
        </div>
        <div fxLayout="row">
            <div fxFlex.xs="5"></div>
            <div fxLayout="column" fxLayoutGap="1%">
                <div class="username">apodiGurl</div>
                <div class="comment f-95">I would like to thank Mr. Stephen Knapp for his nice work on "The Secret Teachings 
                    of the Vedas: Answers to the Mysteries of Life", I have read this book after read the
                    “Myth = Mithya: A Handbook Of Hindu Mythology". This author gave the complete reference
                    about the script/Vedas. This clears the mysteries about the life Cycle and especially
                    about the Super soul. I have on and off ones in a while will listen to Isha speech about
                    the life after death and about nature, God;
                </div>
            </div>
            <div fxFlex.xs="5"></div>
        </div>   
        <div fxLayout="row">
            <div fxFlex.xs="5"></div>
            <div fxLayout="column" fxLayoutGap="1%">
                <div class="username">apodiGurl</div>
                <div class="comment f-95">I would like to thank Mr. Stephen Knapp for his nice work on "The Secret Teachings 
                    of the Vedas: Answers to the Mysteries of Life", I have read this book after read the
                    “Myth = Mithya: A Handbook Of Hindu Mythology". This author gave the complete reference
                    about the script/Vedas. This clears the mysteries about the life Cycle and especially
                    about the Super soul. I have on and off ones in a while will listen to Isha speech about
                    the life after death and about nature, God;
                </div>
            </div>
            <div fxFlex.xs="5"></div>
        </div>   
    </div>       
    <div fxFlex="5"></div>
    <div class="right" fxLayout="column" fxFlex.lg="15" fxHide.xs>
        <div fxLayout="row">
            <div fxFlex.xs="5"></div>
            <div fxLayout="column" fxFlex="90" fxLayoutGap="12%">
                <div fxLayout="row">
                    <div [ngStyle.xs]="{'font-size':'1.2em'}">You may also like</div>
                </div>
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex fxLayoutGap="10%">
                        <div fxLayout="row" fxLayoutGap="5%">   
                            <div fxLayout="column" fxFlex="35" fxFlex.xs="30">
                                <img class="img fluid cover" src="../../assets/images/book.svg">
                            </div>
                            <div fxLayout="column" fxFlex fxLayoutGap.xs="2%">
                                <div class="f-95">Secret Teachings of Vedas</div>
                                <div class="f-80">By Stephan Knapp</div>
                                <div class="rating f-95">4 <span><mat-icon class="list-icons yellow">star_rate</mat-icon></span></div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="5%">
                            <div fxLayout="column" fxFlex="35" fxFlex.xs="30">
                                <img class="img fluid cover" src="../../assets/images/book.svg">
                            </div>
                            <div fxLayout="column" fxFlex fxLayoutGap.xs="2%">
                                <div class="f-95" >Secret Teachings of Vedas</div>
                                <div class="f-80" >By Stephan Knapp</div>
                                <div class="rating f-95">4 <span><mat-icon class="list-icons yellow">star_rate</mat-icon></span></div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="5%">
                            <div fxLayout="column" fxFlex="35" fxFlex.xs="30">
                                <img class="img fluid cover" src="../../assets/images/book.svg">
                            </div>
                            <div fxLayout="column" fxFlex fxLayoutGap.xs="2%">
                                <div class="f-95" >Secret Teachings of Vedas</div>
                                <div class="f-80" >By Stephan Knapp</div>
                                <div class="rating f-95" >4 <span><mat-icon class="list-icons yellow">star_rate</mat-icon></span></div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutGap="5%">
                            <div fxLayout="column" fxFlex="35" fxFlex.xs="30">
                                <img class="img fluid cover" src="../../assets/images/book.svg">
                            </div>
                            <div fxLayout="column" fxFlex fxLayoutGap.xs="2%">
                                <div class="f-95">Secret Teachings of Vedas</div>
                                <div class="f-80" >By Stephan Knapp</div>
                                <div class="rating f-95">4 <span><mat-icon class="list-icons yellow">star_rate</mat-icon></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex.xs="5"></div>
            </div>
        </div>
    </div>
    
</div>
