<div fxLayout="column" fxFill fxLayoutAlign="space-around center">
  <button class="buttons" mat-flat-button color='primary' routerLink="/select-genre">Select genres</button>
  <button class="buttons" mat-flat-button color='primary' routerLink="/location">Change Location</button>
  <button class="buttons" mat-flat-button color='primary' routerLink="/login" (click)="log_out()">Log out</button>
  <button class="buttons" mat-flat-button color='primary' routerLink="/location" (click)="clear()">Clear stored local Data</button>
</div>
